body{
    background-color: #3B5998;
}
* {
    font-family: "Andale Mono"
}
/*
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes 
    transform: translate(-50%, -50%);
}
*/
h1 {
    font-size: 24px;
}
a {
    font-size: 14px;
}
a ~ h3 {
    font-weight: bolder;
}

.kast{
    position: fixed;
    width: 380px;
    padding: 50px;
    background-color: white;
    top: 10%;
    left: 32%;
}

.flex-container{
    display: flex;
    height: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
#pilt{
    display: flex;
    height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
}

#email {
    padding:4px;
    margin: 4px 0px;
    box-sizing: border-box;
}
#pwd {
    padding:4px;
    margin: 4px 0px;
    box-sizing: border-box;
}

#login {
    background-color: darkblue;
    color: whitesmoke;
    font-size: 14px;
    padding: 7px;
    border-radius: 4px;
}

h::first-line{
    font-variant:all-petite-caps;

}