body{
    background-color: #3B5998;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.kast{
    width: 250px;
    padding: 250px;
    background-color: white;
}

.flex-container{
    display: flex;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}