body {
    background-color: #3B5998;
    margin: auto;
}


.taust {
    position: relative;
    width: 600px;
    height: 600px;
    padding: 100px 100px;
    background-color: white;
    top: 10%;
    left: 20%;
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-container > img {
    width: 400px;
}
.time{
    alignment: right;
    vertical-align: top;
    font-family: sans-serif;
    color: black;
}

.fa {
    font-size: 100px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: darkblue;
}
