body {
    background-color: #3B5998;
    margin: auto;
}

* {
    font-family: "Andale Mono", serif;
}

.taust {
    position: relative;
    width: 600px;
    height: 100%;
    padding: 100px 100px;
    background-color: white;
    top: 10%;
    left: 20%;
}

.flex-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 10px;
    background-color: lightgray;
    box-shadow: 0 4px 6px #000;
}

.flex-container > img {
    width: 100%;
}
img + h2 {
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#avatar {
    width: 40px;
}

#profile {
    width: 50px;
    border-radius: 50%;
}

.time{
    alignment: right;
    vertical-align: top;
    font-family: sans-serif;
    color: black;
}

.fa {
    font-size: 100px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: cornflowerblue;
}
